[Unit]
Description=Bluetooth speaker agent
Requires=start-easyeffects.service
After=start-easyeffects.service

[Service]
ExecStart=python3 %h/speaker-agent.py

[Install]
WantedBy=default.target
