[Unit]
Description=Starts EasyEffects on boot
After=pipewire.service wireplumber.service

[Service]
Type=exec
ExecStart=%h/start-easyeffects.sh
Restart=on-failure
RestartSec=5
